.main-title {
  font-size: 32px;
  color: #fdfdfd;
  margin-bottom: 30px;
}

.title-h1 {
  font-size: 30px;
}
.title-h2 {
  font-size: 28px;
}
.title-h3 {
  font-size: 26px;
}
.title-h4 {
  font-size: 24px;
}
.title-h5 {
  font-size: 22px;
}

.title_dark {
  color: #444;
}

.title_m {
  font-weight: 500;
}

.title_b {
  font-weight: 600;
}
