.content {
  width: 100%;
  background: #fdfdfd;
  padding: 20px 15px;
  border-radius: 5px;
}

.content__title {
  color: #444;
  margin-bottom: 30px;
}

.content__controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.content__inner {
  display: flex;
  gap: 20px;
}

.content__main {
  flex-grow: 1;
}

.content__form {
  padding: 0;
}

.content__list {
  max-height: 500px;
  padding: 15px 10px;

  overflow: auto;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.content__text {
  color: #444;
}
