.form-container {
  max-width: 568px;
  margin: 0 auto;
  width: 100%;
}

.form {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  &._bg {
    background: #f0f0f0;
  }
}

.form-controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group__controls{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.form__bottom {
  display: flex;
  align-items: center;
}

.form__link {
  font-size: 18px;
  font-weight: 600;
  color: #ff4444;
  transition: 0.2s ease-in-out;
  &:hover {
    color: #4444ff;
  }
}

.form__btn {
  display: inline-block;
  margin-left: auto;
}
