.navigation {
  display: flex;
  gap: 20px;
}

.navigation__item {
  position: relative;
  padding: 4px 10px;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  transition: 0.2s;
}
