.profile__title {
  margin-bottom: 30px;
}

.profile__content {
  display: grid;
  grid-template-columns: auto 345px;
  align-items: flex-start;
  gap: 20px;
}

.profile__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.profile__photo {
  background: #fdfdfd;
  border-radius: 5px;
  padding: 5px;
}
